<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css"/>
    <title>Career Goals</title>
</head>

<body>
    <nav class="navbar ">
        <h1 class="logo-brand">Patrick Rivers</h1>

        <ul class="nav-menu ">
            <li class="nav-menu-item ">
                <a href="./resume.html">Resume</a>
            </li>

            <li class="nav-menu-item ">
                <a href="./cover-letter.html">Cover Letter</a>
            </li>

            <li class="nav-menu-item ">
                <a href="./career-goals.html">Career Goals</a>
            </li>
        </ul>
        <div id="date-space"></div>
    </nav>
    <div class="contact-info-container ">
            <div class="contact-group">
                <strong>Email</strong>
                <a href="mailto:privers251@gmail.com">PRivers251@gmail.com</a>
            </div>
                <div class="contact-group">
                <strong>Phone</strong>
                <a href="tel:251-472-6693">251-472-6693</a>
            </div>
            <div class="contact-group">
                <strong>Location</strong>
                <p>Mobile, AL</p>
            </div>
        </div>
    <main>
        <h2 class="section-header">Career Goals</h2>
        <section class="career-goals-section">
            <article>
                My career goals may be a little different. I do not measure where I want to go by job titles or monetary accomplishments, but by what I want to learn and the skills I want to become proficient in. I try to live by a principle of only focusing on what I can control. I can not control what opportunity comes or when it comes, but I can control focusing on making myself more valuable and keeping up with in demand technologies that I am interested in. So, my current goals are as follows:
                
                <h3>Next 2 Years</h3>
                <ul>
                    <li>
                        1. Complete BS IT from WGU.
                    </li>
                    <li>
                        2. Start MBA Program Specializing in IT Management.
                    </li>
                    <li>
                        3. Obtain Industrial Automation / PLC Certifications.
                    </li>
                </ul>

                <h3>Next 5 Years</h3>
                <ul>
                    <li>
                        1. Complete IT Management MBA Program.
                    </li>
                    <li>
                        2. Obtain CISSP Certification.
                    </li>
                    <li>
                        3. Obtain CCNP Enterprise Core Certification.
                    </li>
                </ul>

            </article>
        </section>
        <hr>
        <section class="contact-me-section">
            <form action="https://wp.zybooks.com/form-viewer.php">

                <h2 class="section-header">Contact Me</h2>
                <div class="form-group">
                    <label for="first-name"></label>
                    <input type="text" id="first-name" placeholder="First Name">
                </div>

                <div class="form-group">
                    <label for="last-name"></label>
                    <input type="text" id="last-name" placeholder="Last Name">
                </div>

                <div class="form-group">
                    <label for="company-name"></label>
                    <input type="text" id="company-name" placeholder="Company Name">
                </div>

                <div class="form-group">
                    <label for="email"></label>
                    <input type="email" id="Email" placeholder="Email">
                </div>

                <div class="form-group">
                    <label for="phone-number"></label>
                    <input type="tel" id="phone-number" placeholder="Phone Number">
                </div>

                <div class="form-group">
                    <textarea name="message" id="message" rows="5" placeholder="Message"></textarea>
                </div>

                <fieldset>
                    <legend>Best Time to Contact</legend>
                <div class="form-group radio">
                     <label for="time-am">A.M.</label>
                    <input type="radio" id="time-am" name="contact-time">
                </div>

                <div class="form-group radio">
                     <label for="time-pm">P.M.</label>
                    <input type="radio" id="time-pm" name="contact-time">
                </div>

                <div class="form-group radio">
                     <label for="time-any">Any</label>
                    <input type="radio" id="time-any" name="contact-time">
                </div>

                </fieldset>

                <div class="form-group select">
                    <label for="contact-method">Best Contact Method</label>
                    <select name="contact-method" id="contact-method">
                        <option value="phone">Phone</option>
                        <option value="email">Email</option>
                        <option value="text">Text</option>
                    </select>
                </div>

                <div class="form-group">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </section>
    </main>
    <footer class="footer">
        <div>Powered By Patrick Rivers</div>
        <div><a href="https://github.com/PRivers251">See My GitHub</a></div>        
    </footer>
    <script src="../scripts/scripts.js" defer></script>
</body>
</html>