<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css"/>
    <title>Cover Letter</title>
</head>
<body>
    <nav class="navbar ">
        <h1 class="logo-brand">Patrick Rivers</h1>

        <ul class="nav-menu ">
            <li class="nav-menu-item ">
                <a href="./resume.html">Resume</a>
            </li>

            <li class="nav-menu-item ">
                <a href="./cover-letter.html">Cover Letter</a>
            </li>

            <li class="nav-menu-item ">
                <a href="./career-goals.html">Career Goals</a>
            </li>
        </ul>
        <div id="date-space"></div>
    </nav>
    <div class="contact-info-container ">
            <div class="contact-group">
                <strong>Email</strong>
                <a href="mailto:privers251@gmail.com">PRivers251@gmail.com</a>
            </div>
                <div class="contact-group">
                <strong>Phone</strong>
                <a href="tel:251-472-6693">251-472-6693</a>
            </div>
            <div class="contact-group">
                <strong>Location</strong>
                <p>Mobile, AL</p>
            </div>
        </div>
    <main>

        <section class="cover-letter-section">
            <h2 class="section-header">Cover Letter</h2>
            <article>
                <p>
                    Hello! My name is Patrick Rivers. I have lived with a passion for problem-solving and technology my entire life. I am excited about the possibility of bringing my skills, expertise, and passion to forward thinking organizations with dynamic problems to solve. 
                </p>
            </article>
        </section>

    </main>
    <footer class="footer">
        <div>Powered By Patrick Rivers</div>
        <div><a href="https://github.com/PRivers251">See My GitHub</a></div>        
    </footer>
    <script src="../scripts/scripts.js" defer></script>
</body>
</html>