<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css"/>
    <title>Cover Letter</title>
</head>
<body>
    <nav class="navbar ">
        <h1 class="logo-brand">Patrick Rivers</h1>

        <ul class="nav-menu ">
            <li class="nav-menu-item ">
                <a href="./resume.html">Resume</a>
            </li>

            <li class="nav-menu-item ">
                <a href="./cover-letter.html">Cover Letter</a>
            </li>

            <li class="nav-menu-item ">
                <a href="./career-goals.html">Career Goals</a>
            </li>
        </ul>
        <div id="date-space"></div>
    </nav>
    <div class="contact-info-container ">
            <div class="contact-group">
                <strong>Email</strong>
                <a href="mailto:privers251@gmail.com">PRivers251@gmail.com</a>
            </div>
                <div class="contact-group">
                <strong>Phone</strong>
                <a href="tel:251-472-6693">251-472-6693</a>
            </div>
            <div class="contact-group">
                <strong>Location</strong>
                <p>Mobile, AL</p>
            </div>
        </div>
    <main>

        <section class="cover-letter-section">
            <h2 class="section-header">Cover Letter</h2>
            <hr>
            <article>
                <p>
                    Hello! My name is Patrick Rivers. I have lived with a passion for problem-solving and technology my entire life. I am excited about the possibility of bringing my skills, expertise, and passion to forward thinking organizations that have dynamic problems to solve.
                </p>

                <p>
                    In today's ever-changing and fast-paced business environments, businesses that are going to succeed, need people who not only understand the job at hand today, but also have the passion and drive to stay up to date on upcoming technological and business developments. It is critical for IT associates to have an awareness of common cybersecurity threats and vulnerabilities, newly developed industry best practices, and technological advancements. I bring that passion to every assignment, not just to learn the general technologies and practices, but I am self-motivated to dig into the details of your organization's technological infrastructure and policies in order to get both a micro and macro understanding that I may best serve you and your organization's end users, whoever they may be.
                </p>

                <p>
                    Communication is the bedrock of organizational accomplishment. This rings true especially, for projects that involve your technology infrastructure. Having associates on your team who are able to successfully bridge the gap in understanding between your technical and non-technical operations can mean the difference between project success and failure. A good IT Associate needs to be able to communicate technical concepts, plans, and priorities in a way that every stakeholder can understand. Having had early experiences in my career in both customer service as well as direct sales, I am equipped and prepared to communicate in a clear understandable manner to every project stakeholder and end user. Utilizing examples, analogies, and clear simple language, I am confident in my ability to help everyone involved in the operations or project clearly understand what is going on at each stage.
                
                </p>

                <p>
                    If your organization is looking for people with a passion and joy around what they do, who understand the big picture, and are intentional in focusing on developing communication and effective professional relationships, I am open to a conversation. Please feel free to reach out to me by email or phone. <mark>I am a seasoned and certified IT Professional who understands system architecture, specializes in networking, and loves developing web applications. I have a wide variety of both full-time and freelance experience where I have helped organizations like regional service providers, government agencies, and tribal organizations monitor their networks, support their users, and develop applications to take advantage of previously untapped opportunities.</mark>
                </p>

                <p>
                    I look forward to the possibility of hearing from you!
                </p>
                    <br/>
                    <br/>
                <p>
                    Best Regards,
                </p>

                <p>
                    <strong>Patrick Rivers</strong>
                </p>
            </article>
            <hr>
        </section>

    </main>
    <footer class="footer">
        <div>Powered By Patrick Rivers</div>
        <div><a href="https://github.com/PRivers251">See My GitHub</a></div>        
    </footer>
    <script src="../scripts/scripts.js" defer></script>
</body>
</html>