
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css"/>
    <script href="../scripts/scripts.js" defer></script>
    <title>Resume</title>
</head>
<body>
    <nav class="navbar ">
        <h1 class="logo-brand">Patrick Rivers</h1>

        <ul class="nav-menu ">
            <li class="nav-menu-item ">
                <a href="#">Resume</a>
            </li>

            <li class="nav-menu-item ">
                <a href="./cover-letter.html">Cover Letter</a>
            </li>

            <li class="nav-menu-item ">
                <a href="./career-goals.html">Career Goals</a>
            </li>
        </ul>
    </nav>
    <div class="contact-info-container ">
            <div class="contact-group">
                <strong>Email:</strong>
                <a href="mailto:privers251@gmail.com">PRivers251@gmail.com</a>
            </div>
                <div class="contact-group">
                <strong>Phone:</strong>
                <a href="tel:251-472-6693">251-472-6693</a>
            </div>
            <div class="contact-group">
                <strong>Location:</strong>
                <p>Mobile, AL</p>
            </div>
        </div>
    <main>
        <section class="intro">
            <div class="professional-summary">
                <h2>Professional Summary</h2>
                <p>
                    Certified IT & Network Professional (CCNA, CompTIA Security+, A+, Project+, ITIL v4) with hands-on expertise in network monitoring, troubleshooting, and configuration in enterprise settings. Skilled in Cisco device management, routing protocols (OSPF, BGP), VLANs, Layer 2/3 switching, with extensive experience in NOC and enterprise support environments. Proficient in supporting users and devices utilizing Windows Server, Active Directory, Intune, and Entra ID. Experienced in premise cabling, VoIP, and IT project management, ensuring compliance and operational efficiency. Adept at using Wireshark, SolarWinds, GNS3, and VMware for troubleshooting and producing simulated enterprise environments.
                </p>
            </div>

            <div class="profile-image-container">
                <img
                class="profile-image"
                src="../assets/images/ProfileImage1.png"/>
            </div>
        </section>

        <section class="certifications">

            <h2>Certifications</h2>
            <div class="cert-image-container">
                <img class="cert-image" src="../assets/images/cert-image.png" alt="">
            </div>

            <div class="cert-list">

            </div>
        </section>
    </main>
</body>
</html>