@font-face {
    font-family: Story_Script;
    src: url(../assets/fonts/Story_Script/StoryScript-Regular.ttf);
}

@font-face {
    font-family: Cossette_Titre;
    src: url(../assets/fonts/Cossette_Titre/CossetteTitre-Regular.ttf);
}

:root {
    --font-brand-logo: Cossette_Titre;
    --font-title: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --font-text: Arial, Helvetica, sans-serif;
    --font-primary-color: black;

    --primary-color: rgb(1, 1, 38);
}

body {
    font-size: 1.2rem;
    font-family: var(--font-text);
    margin: 0;
}

main {
    margin-inline: 3rem;
    margin-top: 5rem;
}

h1, h2, h3 {
    font-family: var(--font-title);
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--font-primary-color);
    display: inline-block;
}

nav {
    margin: 0;
}

.test-div {
    border: 1px dotted black;
}

.navbar {
    padding-inline: 2rem;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    width: 100%;
    margin: auto;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
}

.nav-menu {
    display: flex;
    margin-inline: auto;
    width: 40rem;
    padding: 0;
    justify-content: center;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-menu-item {
    height: inherit;
    display: flex;
    align-items: center;
    padding-inline: 2.5rem;
    border-inline: 1px solid white;
    cursor: pointer;
}

.nav-menu-item:hover {
    background-color: white;
    color: black;
}

.nav-menu-item:nth-child(2){
    border: none;
}


.nav-menu-item a {
    color: inherit;
}

.logo-brand {
    font-family: var(--font-brand-logo);
    font-weight: bolder;
    padding: 0;
    margin-block: auto;
    font-size: 3.5em;
}

.contact-info-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-inline: 2rem;
    align-items: top;
    margin: auto;
}

.contact-info-container strong {
    text-decoration: underline;
    display:block;
    color: var(--primary-color)
}

.contact-group {
    margin-block: 1rem;
}

.contact-group a:hover {
    border: 1px solid black;
    border-radius: 4px;
    padding: .2em;
    color: white;
    background: var(--primary-color);
}

.intro {
    display: flex;
    justify-content: space-around;
}

.professional-summary {
    width: 50%;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 30px;

    border-image: linear-gradient(
    to bottom right,
    black,
    transparent
  ) 1;
}

.professional-summary h2 {
    text-align: center;
}

.professional-summary p {
    padding-inline: 3rem;
    line-height: 32px;
}

.profile-image {
    width: 30rem;
}

.certifications {
    margin-top: 5rem;
}

.certifications h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.cert-image-container {
    width: 50%;
}

.cert-image {
    border-radius: 5px;
    margin-inline: auto;
}